<header class="header">
    <div class="header__top" v-if="sizes.window >= 1023">
        <div class="header__in center_block">
            <div class="header__adr">г. Москва, 3-я улица Ямского поля, 18</div>
            <a href="tel:84951205777" class="header__tel">8-495-120 57-77</a>
            <a href="#" target="_blank" class="header__wts" rel="noopener noreferrer">Напишите в Whatsapp</a>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__in center_block">
            <a href="/" class="header__logo">
                <img src="./img/logo.svg" alt="">
            </a>
            <nav class="header__menu" v-if="sizes.window >= 1023">
                <ul>
                    <li><a href="#">Страны</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Блог</a></li>
                    <li><a href="#">О компании</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </nav>
            <button class="header__button" data-modal-id="1" v-if="sizes.window >= 1023">Бесплатная консультация</button>
            <div class="header__burger" :class="{'isOpened': header.isMobileMenuOpened}" v-if="sizes.window <= 1023">
                <div class="header__burger--icon" @click.prevent="header.toogleMobileMenu.apply(header)"></div>
                <div class="header__burger--body">
                    <div class="header__burger--top">
                        <a href="/" class="header__logo">
                            <img src="./img/logo.svg" alt="">
                        </a>
                        <div class="header__burger--close" @click.prevent="header.toogleMobileMenu.apply(header)"></div>
                    </div>
                    <div class="header__burger--item">
                        <nav class="header__burger--menu" @click="header.toogleMobileMenu.apply(header)">
                            <ul>
                                <li><a href="#">Страны</a></li>
                                <li><a href="#">Услуги</a></li>
                                <li><a href="#">Блог</a></li>
                                <li><a href="#">О компании</a></li>
                                <li><a href="#">Контакты</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="header__burger--info">
                        <div class="header__adr">г. Москва, 3-я улица Ямского поля, 18</div>
                        <a href="tel:84951205777" class="header__tel">8-495-120 57-77</a>
                        <a href="#" target="_blank" class="header__wts" rel="noopener noreferrer">Напишите в Whatsapp</a>
                        <button class="header__button" data-modal-id="1">Бесплатная консультация</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>