.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.60);
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    padding: 16px;
    &.isOpened {
        opacity: 1;
        visibility: visible;
    }
    &:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }
    &__in {
        max-height: 100%;
        display: inline-block;
        vertical-align: middle;
        max-width: vw(560);
        text-align: left;
        width: 100%;
        background: #D7D9DA;
        border-radius: vw(16);
        position: relative;
        padding: vw(48) vw(40);
        box-shadow: 0px 9px 19px 0px rgba(0, 0, 0, 0.10), 0px 35px 35px 0px rgba(0, 0, 0, 0.09), 0px 80px 48px 0px rgba(0, 0, 0, 0.05), 0px 141px 57px 0px rgba(0, 0, 0, 0.01), 0px 221px 62px 0px rgba(0, 0, 0, 0.00);
        @media all and (max-width: 1024px) {
            max-width: 560px;
            border-radius: 16px;
            overflow: auto;
            padding: 32px 16px;
        }
    }
    &__closer {
        position: absolute;
        top: vw(16);
        right: vw(16);
        cursor: pointer;
        width: vw(24);
        height: vw(24);
        background: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 5.5L19 19.5M5 19.5L19 5.5L5 19.5Z' stroke='%23323232' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E") 50% / 100% no-repeat;
        @media all and (max-width: 1024px) {
            top: 16px;
            right: 16px;
            width: 24px;
            height: 24px;
        }
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: vw(40);
        line-height: 108%;
        color: var(--text-hedline-dark);
        margin-bottom: vw(28);
        @media all and (max-width: 1024px) {
            font-size: 28px;
            margin-bottom: 24px;
        }
    }
    &__text {
        font-weight: 400;
        font-size: vw(16);
        line-height: 156%;
        color: var(--text-body-dark);
        margin-bottom: vw(24);
        @media all and (max-width: 1024px) {
            font-size: 14px;
            margin-bottom: 12px;
        }
    }
    input {
        &[type="text"], &[type="tel"] {
            width: 100%;
            margin-bottom: vw(24);
            border: 0;
            outline: none;
            border-radius: vw(360);
            padding: vw(12) vw(24);
            font-weight: 400;
            font-size: vw(16);
            line-height: 148%;
            color: var(--text-body-dark);
            &::placeholder {
                color: var(--field-label-hover);
            }
            @media all and (max-width: 1024px) {
                width: calc(50% - 12px);
                margin-bottom: 24px;
                padding: 12px 24px;
                font-size: 16px;
                border-radius: 360px;
            }
            @media all and (max-width: 960px) {
                margin-bottom: 16px;
                width: 100%;
            }
            @media all and (max-width: 767px) {
                margin-bottom: 24px;
            }
        }
        &[type="submit"] {
            border: 0;
            background: var(--button-primary-bg-default);
            font-weight: 500;
            font-size: vw(18);
            line-height: 144%;
            text-align: center;
            color: var(--button-primary-label-default);
            border-radius: vw(360);
            padding: vw(15) vw(24);
            cursor: pointer;
            @media all and (max-width: 1024px) {
                font-size: 16px;
                padding: 12px;
                flex: 0 0 200px;
                border-radius: 360px;
            }
            @media all and (max-width: 960px) {
                flex: none;
                margin-bottom: 16px;
                width: 100%;
            }
            &:hover {
                background: var(--button-primary-bg-hover);
            }
            &:active {
                background: var(--button-primary-bg-active);
            }
        }
    }
    &__item {
        gap: vw(16);
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        @media all and (max-width: 1024px) {
            gap: 16px;
        }
        @media all and (max-width: 960px) {
            gap: 0;
        }
        div {
            font-weight: 400;
            font-size: vw(14);
            line-height: 156%;
            color: var(--text-body-gray);
            @media all and (max-width: 1024px) {
                font-size: 12px;
            }
            @media all and (max-width: 960px) {
                font-size: 12px;
            }
        }
    }
}