.main_form {
    padding-top: vw(50);
    padding-bottom: vw(50);
    @media all and (max-width: 1024px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media all and (max-width: 767px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &__block {
        display: flex;
        border-radius: vw(24);
        overflow: hidden;
        @media all and (max-width: 1024px) {
            border-radius: 24px;
        }
        @media all and (max-width: 767px) {
            border-radius: 20px;
            flex-direction: column;
        }
    }
    &__l-side {
        margin-right: vw(-24);
        font-size: 0;
        flex: 0 0 vw(440);
        @media all and (max-width: 1024px) {
            flex: 0 0 360px;
            margin-right: -24px;
        }
        @media all and (max-width: 960px) {
            flex: 0 0 288px;
            margin-right: -24px;
        }
        @media all and (max-width: 767px) {
            margin-bottom: -20px;
            margin-right: 0;
            width: 100%;
            flex: none;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: vw(32);
        line-height: 124%;
        color: var(--text-hedline-dark);
        margin-bottom: vw(24);
        @media all and (max-width: 1024px) {
            font-size: 32px;
            margin-bottom: 24px;
        }
        @media all and (max-width: 767px) {
            margin-bottom: 20px;
            font-size: 28px;
        }
    }
    &__subtitle {
        font-weight: 500;
        font-size: vw(14);
        line-height: 156%;
        text-align: center;
        color: var(--text-body-dark);
        background: var(--main-div-bg-white);
        border-radius: vw(360);
        display: inline-block;
        padding: vw(2) vw(10);
        margin-bottom: vw(12);
        @media all and (max-width: 1024px) {
            font-size: 14px;
            padding: 2px 10px;
            margin-bottom: 12px;
            border-radius: 360px;
        }
        @media all and (max-width: 767px) {
            margin-bottom: 8px;
        }
    }
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    input {
        &[type="text"], &[type="tel"] {
            width: calc(50% - vw(12));
            margin-bottom: vw(24);
            border: 0;
            outline: none;
            border-radius: vw(360);
            padding: vw(12) vw(24);
            font-weight: 400;
            font-size: vw(16);
            line-height: 148%;
            color: var(--text-body-dark);
            &::placeholder {
                color: var(--field-label-hover);
            }
            @media all and (max-width: 1024px) {
                width: calc(50% - 12px);
                margin-bottom: 24px;
                padding: 12px 24px;
                font-size: 16px;
                border-radius: 360px;
            }
            @media all and (max-width: 960px) {
                margin-bottom: 16px;
                width: 100%;
            }
            @media all and (max-width: 767px) {
                margin-bottom: 24px;
            }
        }
        &[type="submit"] {
            border: 0;
            background: var(--button-primary-bg-default);
            font-weight: 500;
            font-size: vw(18);
            line-height: 144%;
            text-align: center;
            color: var(--button-primary-label-default);
            border-radius: vw(360);
            padding: vw(15) vw(24);
            flex: 0 0 vw(185);
            cursor: pointer;
            @media all and (max-width: 1024px) {
                font-size: 16px;
                padding: 12px;
                flex: 0 0 200px;
                border-radius: 360px;
            }
            @media all and (max-width: 960px) {
                flex: none;
                margin-bottom: 16px;
                width: 100%;
            }
            &:hover {
                background: var(--button-primary-bg-hover);
            }
            &:active {
                background: var(--button-primary-bg-active);
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        gap: vw(24);
        width: 100%;
        @media all and (max-width: 1024px) {
            gap: 24px;
        }
        @media all and (max-width: 960px) {
            gap: 0;
            flex-direction: column;
        }
        div {
            font-weight: 400;
            font-size: vw(14);
            line-height: 156%;
            color: var(--text-body-gray);
            @media all and (max-width: 1024px) {
                font-size: 12px;
            }
            @media all and (max-width: 960px) {
                font-size: 12px;
            }
        }
    }
    &__r-side {
        background: var(--main-div-bg-green-gray);
        border-radius: vw(24);
        padding: vw(48);
        position: relative;
        width: 100%;
        z-index: 2;
        @media all and (max-width: 1024px) {
            padding: 40px;
            border-radius: 24px;
        }
        @media all and (max-width: 767px) {
            border-radius: 20px;
            padding: 32px 24px;
        }
    }
}