.serv_form {
    position: sticky;
    top: 0;
    &__block {
        display: flex;
        border-radius: vw(24);
        overflow: hidden;
        @media all and (max-width: 1024px) {
            border-radius: 24px;
        }
        @media all and (max-width: 767px) {
            border-radius: 20px;
            flex-direction: column;
        }
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: vw(32);
        line-height: 124%;
        color: var(--text-hedline-dark);
        margin-bottom: vw(24);
        @media all and (max-width: 1024px) {
            font-size: 32px;
            margin-bottom: 24px;
        }
        @media all and (max-width: 767px) {
            margin-bottom: 20px;
            font-size: 28px;
        }
    }
    form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        select {
            border: 0;
            width: 100%;
            appearance: none;
            margin-bottom: vw(24);
            display: block;
            border-radius: vw(16);
            border-radius: vw(360);
            padding: vw(12) vw(24);
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 9L12 16L19 9' stroke='%23323232' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: 98% 50%;
            background-size: size(24);
            @media all and (max-width: 1024px) {
                margin-bottom: 24px;
                border-radius: 360px;
                background-size: 24px;
                padding: 12px 24px;
            }
        }
    }
    input {
        &[type="text"], &[type="tel"] {
            width: 100%;
            margin-bottom: vw(24);
            border: 0;
            outline: none;
            border-radius: vw(360);
            padding: vw(12) vw(24);
            font-weight: 400;
            font-size: vw(16);
            line-height: 148%;
            color: var(--text-body-dark);
            &::placeholder {
                color: var(--field-label-hover);
            }
            @media all and (max-width: 1024px) {
                width: calc(50% - 12px);
                margin-bottom: 24px;
                padding: 12px 24px;
                font-size: 16px;
                border-radius: 360px;
            }
            @media all and (max-width: 960px) {
                margin-bottom: 16px;
                width: 100%;
            }
            @media all and (max-width: 767px) {
                margin-bottom: 24px;
            }
        }
        &[type="submit"] {
            border: 0;
            background: var(--button-primary-bg-default);
            font-weight: 500;
            font-size: vw(18);
            line-height: 144%;
            text-align: center;
            color: var(--button-primary-label-default);
            border-radius: vw(360);
            padding: vw(15) vw(24);
            cursor: pointer;
            @media all and (max-width: 1024px) {
                font-size: 16px;
                padding: 12px;
                flex: 0 0 200px;
                border-radius: 360px;
            }
            @media all and (max-width: 960px) {
                flex: none;
                margin-bottom: 16px;
                width: 100%;
            }
            &:hover {
                background: var(--button-primary-bg-hover);
            }
            &:active {
                background: var(--button-primary-bg-active);
            }
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        gap: vw(24);
        width: 100%;
        @media all and (max-width: 1024px) {
            gap: 24px;
        }
        @media all and (max-width: 960px) {
            gap: 0;
            flex-direction: column;
        }
        div {
            font-weight: 400;
            font-size: vw(14);
            line-height: 156%;
            color: var(--text-body-gray);
            @media all and (max-width: 1024px) {
                font-size: 12px;
            }
            @media all and (max-width: 960px) {
                font-size: 12px;
            }
        }
    }
    &__r-side {
        background: var(--main-div-bg-green-gray);
        border-radius: vw(24);
        padding: vw(32);
        position: relative;
        width: 100%;
        z-index: 2;
        @media all and (max-width: 1024px) {
            padding: 40px;
            border-radius: 24px;
        }
        @media all and (max-width: 767px) {
            border-radius: 20px;
            padding: 32px 24px;
        }
    }
}