.main_doc {
    padding-top: vw(52);
    padding-bottom: vw(52);
    @media all and (max-width: 1024px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media all and (max-width: 767px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    &__in {
        border-radius: vw(24);
        padding: vw(48);
        background: #fff;
        @media all and (max-width: 1024px) {
            border-radius: 24px;
            padding: 40px;
        }
        @media all and (max-width: 767px) {
            border-radius: 20px;
            padding: 32px 24px;
        }
    }
    &__title {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: vw(48);
        line-height: 108%;
        color: var(--text-hedline-dark);
        margin-bottom: vw(40);
        @media all and (max-width: 1024px) {
            font-size: 40px;
            margin-bottom: 32px;
        }
        @media all and (max-width: 767px) {
            font-size: 32px;
            margin-bottom: 28px;
        }
    }
    &__text {
        margin-bottom: vw(32);
        font-weight: 400;
        font-size: vw(18);
        line-height: 156%;
        color: var(--text-body-dark);
        @media all and (max-width: 1024px) {
            font-size: 16px;
            margin-bottom: 24px;
        }
        @media all and (max-width: 767px) {
            font-size: 14px;
            margin-bottom: 20px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                padding-left: vw(32);
                position: relative;
                @media all and (max-width: 1024px) {
                    padding-left: 26px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    background: #008347;
                    width: vw(8);
                    height: vw(8);
                    border-radius: 50%;
                    top: 50%;
                    margin-top: vw(-4);
                    left: vw(8);
                    @media all and (max-width: 1024px) {
                        width: 8px;
                        height: 8px;
                        margin-top: -4px;
                        left: 8px;
                    }
                }
                &:not(:last-child) {
                    margin-bottom: vw(16);
                    @media all and (max-width: 1024px) {
                        
                    }
                }
            }
        }
    }
    &__blocks {
        display: flex;
        flex-wrap: wrap;
        margin-left: vw(-12);
        margin-right: vw(-12);
        @media all and (max-width: 1024px) {
            margin-left: -12px;
            margin-right: -12px;
        }
        @media all and (max-width: 960px) {
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
        }
    }
    &__block {
        margin-left: vw(12);
        margin-right: vw(12);
        width: calc(50% - vw(24));
        margin-bottom: vw(24);
        border-radius: vw(24);
        padding: vw(32);
        background: #008347;
        display: flex;
        gap: vw(28);
        align-items: center;
        justify-content: space-between;
        color: #fff;
        @media all and (max-width: 1024px) {
            margin-left: 12px;
            margin-right: 12px;
            width: calc(50% - 24px);
            margin-bottom: 20px;
            border-radius: 24px;
            padding: 24px 20px;
            gap: 24px;
        }
        @media all and (max-width: 960px) {
            margin-bottom: 24px;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            gap: 24px;
            border-radius: 24px;
            padding: 24px 56px;
        }
        @media all and (max-width: 767px) {
            flex-direction: column;
            gap: 20px;
            border-radius: 20px;
            padding: 20px;
            margin-bottom: 16px;
        }
    }
    &__txt {
        font-family: var(--second-family);
        font-weight: 600;
        font-size: vw(28);
        line-height: 128%;
        color: #fff;
        @media all and (max-width: 1024px) {
            font-size: 24px;
        }
        @media all and (max-width: 767px) {
            font-size: 22px;
        }
    }
    &__number {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: vw(104);
        line-height: 108%;
        white-space: nowrap;
        @media all and (max-width: 1024px) {
            font-size: 80px;
        }
        @media all and (max-width: 767px) {
            font-size: 64px;
        }
        span {
            font-family: var(--second-family);
            font-size: vw(48);
            @media all and (max-width: 1024px) {
                font-size: 40px;
            }
            @media all and (max-width: 767px) {
                font-size: 32px;
            }
        }
    }
    &__info {
        font-weight: 400;
        font-size: vw(16);
        line-height: 148%;
        color: var(--text-body-dark);
        text-align: center;
        @media all and (max-width: 1024px) {
            font-size: 14px;
        }
        @media all and (max-width: 767px) {
            font-size: 12px;
        }
    }
}