<div class="main_first center_block">
    <div class="main_first__blocks">
        <div class="main_first__l-side">
            <div class="main_first__form">
                <div class="main_first__form--title">Оформим визу по всем <br>направлениям, без вашего <br>присутствия</div>
                <div class="main_first__form--text">Получите бесплатную консультацию про типы виз <br>и необходимые документы прямо сейчас.</div>
                <form action="">
                    <input type="text" placeholder="Имя">
                    <input type="tel" placeholder="Телефон">
                    <div class="main_first__form--item">
                        <input type="submit" value="Узнать стоимость">
                        <div>Нажимая на кнопку, вы подтверждаете свое согласие на обработку персональных данных.</div>
                    </div>
                </form>
            </div>
            <div class="main_first__flags">
                <div class="main_first__flags--title">Последние оформленные визы</div>
                <div class="main_first__flags--blocks">
                    <a href="#" class="main_first__flags--block">
                        <div class="main_first__flags--icon">
                            <img src="./img/f1.svg" alt="">
                        </div>
                        <div class="main_first__flags--name">Германия</div>
                    </a>
                    <a href="#" class="main_first__flags--block">
                        <div class="main_first__flags--icon">
                            <img src="./img/f1.svg" alt="">
                        </div>
                        <div class="main_first__flags--name">Германия</div>
                    </a>
                    <a href="#" class="main_first__flags--block">
                        <div class="main_first__flags--icon">
                            <img src="./img/f1.svg" alt="">
                        </div>
                        <div class="main_first__flags--name">Германия</div>
                    </a>
                    <a href="#" class="main_first__flags--block">
                        <div class="main_first__flags--icon">
                            <img src="./img/f1.svg" alt="">
                        </div>
                        <div class="main_first__flags--name">Германия</div>
                    </a>
                    <a href="#" class="main_first__flags--block">
                        <div class="main_first__flags--icon">
                            <img src="./img/f1.svg" alt="">
                        </div>
                        <div class="main_first__flags--name">Германия</div>
                    </a>
                    <a href="#" class="main_first__flags--block">
                        <div class="main_first__flags--icon">
                            <img src="./img/f1.svg" alt="">
                        </div>
                        <div class="main_first__flags--name">Германия</div>
                    </a>
                </div>
                <a href="#" class="main_first__flags--more">Посмотреть все страны</a>
            </div>
        </div>
        <div class="main_first__r-side">
            <div class="main_first__img--img" v-if="sizes.window <= 1023">
                <img src="./img/img3.jpg" alt="">
            </div>
            <div class="main_first__img--info">
                <div class="main_first__img">
                    <div class="main_first__img--img" v-if="sizes.window >= 1023">
                        <img src="./img/img3.jpg" alt="">
                    </div>
                    <div class="main_first__img--stat">
                        <div class="main_first__img--txt">Мы с командой строго придерживаемся сроков и гарантируем стопроцентную поддержку на всех этапах.</div>
                        <div class="main_first__img--name">Юлия Корниенко</div>
                        <div class="main_first__img--work">Директор компании Visa Holiday</div>
                    </div>
                </div>
                <div class="main_first__contact">
                    <div class="main_first__contact--title">Свяжитесь со специалистом</div>
                    <a href="tel:84951205777" class="main_first__contact--tel">8-495-120 57-77</a>
                    <a href="#" target="_blank" rel="noopener noreferrer" class="main_first__contact--wts">Напишите в Wathsapp</a>
                </div>
            </div>
        </div>
    </div>
</div>