<div class="main_gets center_block">
    <div class="main_gets__in">
        <div class="main_gets__l-side">
            <div class="main_gets__title">Что требуется от вас?</div>
            <div class="main_gets__blocks">
                <div class="main_gets__block">
                    <div class="main_gets__number">1</div>
                    <div class="main_gets__text">Заграничный паспорт</div>
                </div>
                <div class="main_gets__block">
                    <div class="main_gets__number">2</div>
                    <div class="main_gets__text">2 фотографии на матовой бумаге цветные (3,5 х 4,5 см)</div>
                </div>
                <div class="main_gets__block">
                    <div class="main_gets__number">3</div>
                    <div class="main_gets__text">Копии гражданского паспорта</div>
                </div>
                <div class="main_gets__block">
                    <div class="main_gets__number">4</div>
                    <div class="main_gets__text">Выписка <br>o состоянии счёта</div>
                </div>
            </div>
        </div>
        <div class="main_gets__r-side">
            <img v-if="sizes.window >= 1023" src="./img/img7.png" alt="">
            <img v-if="sizes.window <= 1022" src="./img/img6.jpg" alt="">
        </div>
    </div>
</div>